 @tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: sans-serif;
  background-color: #e5e7eb; /* Tailwind bg-gray-200 */
}

/* Smooth transitions for sidebar and board */
.sidebar {
  transition: transform 0.3s ease-in-out;
}

.column {
  transition: all 0.2s ease-in-out;
}

.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}